@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$primary-font: 'Montserrat', Arial, sans-serif;
$secondary-font: 'Open Sans', Arial, sans-serif;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.payment {
    .header {
        background-color: #64350a;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 5%;
        height: 80px;
        white-space: nowrap;

        .logo {
            img {
                width: 50%;
                height: 50%;
            }
        }

        .navigation {
            display: flex;
            align-items: center;

            @media (max-width:900px) {
                display: none;
            }

            ul {
                display: flex;
                gap: 4rem;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-family: "Montserrat", sans-serif;
                        transition: text-decoration 0.3s ease;

                        &.active {
                            text-decoration: underline;
                            text-decoration-thickness: 3px;
                        }

                        &:hover {
                            text-decoration: underline;
                            text-decoration-thickness: 2px;
                        }
                    }
                }
            }
        }

        .back-button {
            background: #d27c2c;
            color: white;
            border: none;
            padding: 0.5em 1em;
            cursor: pointer;
            font-size: 1em;
            border-radius: 11px;

            &:hover {
                background: darken(#d27c2c, 10%);
            }
        }
    }


    .payment-form {
        padding: 2em;
        text-align: center;

        h1 {
            font-family: Montserrat;
            font-size: 2.5em;
            font-weight: 700;
        }

        form {
            display: inline-block;
            width: 100%;
            max-width: 600px;
            background: white;
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            @media (max-width:900px) {
                width: 95%;
                max-width: 400px;
                padding: 1em;
            }

                // Define breakpoints
                $small-screen: 600px;

                // Hide by default
                .show-on-small-screen {
                display: none;
                }

                // Show on small screens
                @media (max-width: $small-screen) {
                .show-on-small-screen {
                    display: block;
                }
                }


            .form-group {
                margin: 1em 2em;

                label {
                    display: block;
                    margin-bottom: 0.5em;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    text-align: left;
                }

                input {
                    width: 100%;
                    padding: 1.1em;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1em;
                    outline: none;

                    @media (max-width:900px) {
                        padding: 1em;
                    }

                    

                    &:hover {
                        border-color: #5C2C06;
                    }
                }
            }

            .form-row {
                display: flex;
                justify-content: space-between;

                .form-group {
                    width: 41%;
                }
            }

            .save-details {
                display: flex;
                align-items: center;
                margin: 1em 0;
                width: 100%;

                .save-details-container{
                    display: flex;
                    flex-direction: row;
                    
                    margin: 1em 2em;

                    input[type="checkbox"] {
                        transform: scale(1.5);
                        margin-right: 0.5em;
                        outline: none;
                    }

                    label {
                        font-size: 1em;
                        margin: 0;
                        display: inline-block;
                        white-space: nowrap;
                    }
                }
            }

        }

        .under {
            display: flex;
            flex-direction: column;
            width: 100%;
                .pay-button {
                    margin: 2em 0;
                    padding: 1em 1em;
                    background-color: #D27C2C;
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 1em;
                    border-radius: 5px;
                    width: 38%;
        
                    @media (max-width:900px) {
                        width: 80%;
                    }
        
                    &:hover {
                        background-color: darken(#D27C2C, 10%);
                    }
                }
        
                .payment-options {
                    display: flex;
                    justify-content: space-between;
                    // margin-top: 1em;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                
        
                    .change-method-button,
                    .cancel-button {
                        background: #CEC6C630;
                        border: 1px solid #ccc;
                        margin: 0.8em 0;
                        padding: 1em 1em;
                        cursor: pointer;
                        font-family: 'Open Sans', sans-serif;
                        text-decoration: none;
                        color: #4a4a4a;
                        width: 28%;
                        // margin-bottom: 1em;
                        @media (max-width:900px) {
                            width: 63%;
                            white-space: nowrap;
                        }
        
                        &:hover {
                            color: #000;
                        }
                    }
                }
        
                .secured-by {
                    margin-top: 1em;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.9em;
                    color: #4a4a4a;
        
                    .paystack {
                        color: #004080;
                        font-weight: bold;
                    }
                }
        }
    }
}