@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.cart-page {
    width: 100%;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 98.7%;
        padding: 0.5rem;
        z-index: 100;
        background: #5C2C06;
        // overflow: hidden;
      
      
        .navbar-content {
          width: 90%;
          padding: 10px 2%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #5C2C06;
      
          // @media (max-width: 900px) {
          //   justify-content: flex-start;
      
          // }
      
          .logo-container {
            display: flex;
      
            .logo {
              width: 100%;
              height: 100%;
      
              img {
                width: auto;
                height: auto;
              }
      
              @media (max-width: 900px) {
                display: block;
              }
            }
      
          }
      
          .hamburger {
            display: none;
            color: #fff;
            cursor: pointer;
      
            @media (max-width: 900px) {
              width: 15%;
              display: flex;
              font-size: 24px;
              justify-content: flex-start;
              padding-left: 1rem;
              z-index: 200;
            }
          }
      
          .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 38%;
            margin-right: 5em;
      
      
            @media (max-width: 900px) {
              display: none;
              margin-right: 0;
            }
      
            ul {
              display: flex;
              justify-content: space-between;
              width: 100%;
              gap: 1rem;
              list-style: none;
              padding: 0;
              margin: 0;
              white-space: nowrap;
      
              li {
                cursor: pointer;
      
                a {
                  color: #fff;
                  text-decoration: none;
                  font-family: 'Open Sans', sans-serif;
                  cursor: pointer;
                  transition: text-decoration 0.3s ease;
      
                  &.active {
                    text-decoration: underline;
                    text-decoration-thickness: 3px;
                  }
      
                  &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                  }
                }
              }
            }
      
      
      
            &.open {
              display: flex;
              position: absolute;
              top: 40%;
              right: 0;
              width: 50%;
              height: 100vh;
              background-color: #5C2C06;
              flex-direction: column;
              align-items: center;
              padding: 1rem 0;
      
              ul {
                flex-direction: column;
                gap: 1rem;
                padding-top: 2rem;
                justify-content: space-between;
                align-items: center;
                height: 40%;
              }
      
              .shop-now-btn {
                display: block;
                width: 80%;
                font-size: 1.25rem;
                padding: 0.75rem;
              }
            }
          }
      
          .nav-left-wrapper {
            width: 20%;
      
            @media (max-width:900px) {
              display: none;
            }
      
            .nav-left {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 10px;
      
              .contact-us {
                color: white;
                text-decoration: none;
      
                @media (max-width:900px) {
                  display: none;
                }
              }
      
              .shop-now-btn {
                background-color: #D27C2C;
                color: #fff;
                padding: 0.7rem 1.3rem;
                border: none;
                border-radius: 5px;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                white-space: nowrap;
      
                @media (max-width:900px) {
                  display: none;
                }
      
                &:hover {
                  background-color: darken(#D27C2C, 10%);
                }
              }
            }
          }
        }
      }

      .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        overflow: hidden;
        // margin-bottom: 5em;
        top: 0;
        left: 0;
        z-index: 1;
      
        
      
        &.modal-open {
          overflow: hidden;
        }
      
        .modal {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          z-index: 1000;
      
          .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2rem;
            color: #ffff;
            cursor: pointer;
          }
      
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;
            // margin-bottom: 10em;
            
      
            li {
              a {
                color: #ffff;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.5rem;
                transition: color 0.3s ease;
      
                &:hover {
                  color: lighten(#ffff, 20%);
                }
              }
            }
          }
        }
      }

    main {
        @media (max-width:900px) {
            padding: 0 5%;
        }

        .shopping-cart-head {
            display: flex;
            justify-content: space-between;
            padding: 20px;

            h1 {
                font-family: Montserrat;
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 400;

                @media (max-width:900px) {
                    display: none;
                }
            }
        }

        .cart-container {
            display: flex;
            justify-content: center;

            @media (max-width: 900px) {
                flex-direction: column;
                justify-content: center;
            }

            .cart-side {
                width: 70%;
                padding-left: 5%;
                margin-top: 2.8em;

                @media (max-width: 900px) {
                    width: 100%;
                }

                .cart-table {
                    width: 100%;
                    padding-top: 5rem;

                    @media (max-width:900px) {
                        padding-top: 0rem;
                    }

                    table {
                        width: 90%;

                        tr {
                            @media (max-width:900px) {
                                background: white;
                            }
                        }

                        td {
                            padding: 8px;
                            text-align: left;
                            border-bottom: 1px solid #A09E9E99;
                        }

                        th {
                            padding: 1rem;
                            text-align: left;
                            border-top: 1px solid #A09E9E99;
                            background-color: none;

                            @media (max-width:900px) {
                                display: none;
                            }
                        }

                        .product-info {
                            display: flex;
                            align-items: center;

                            img {
                                width: 100px;
                                height: 100px;
                                padding-right: 10px;
                            }

                            .item {
                                @media (max-width:900px) {
                                    font-size: 1.2rem;
                                }
                            }

                            .remove-button {
                                background: none;
                                border: 1px solid black;
                                border-radius: 50%;
                                padding: 5px;
                                cursor: pointer;
                                color: red;

                                @media (max-width:900px) {
                                    display: none;
                                }
                            }
                        }

                        .quantity-control {
                            @media (max-width:900px) {
                                display: none;
                            }

                            .quantity-buttons {
                                display: flex;
                                gap: 5px;
                                align-items: center;

                                button {
                                    background: #d27c2c;
                                    padding: 5px;
                                    cursor: pointer;
                                    border: none;
                                    color: white;
                                    width: 30px;
                                    height: 30px;
                                    font-size: 18px;
                                }

                                span {
                                    margin: 5px 0;
                                }
                            }
                        }

                        .price {
                            @media (max-width:900px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .order-summary {
                width: 30%;
                margin-top: 9em;
                max-height: 100vh;
                min-height: 80vh;
                background-color: #D27C2C26;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                font-family: Montserrat, sans-serif;

                @media (max-width: 900px) {
                    width: 90%;
                    height: fit-content;
                    margin-top: 2rem;
                }

                h2 {
                    font-family: Montserrat;
                    font-size: 22px;
                    font-weight: 700;
                    color: #d27c2c;
                    text-align: center;
                }

                .divider {
                    width: 100%;
                    height: 2px;
                    background-color: #64350a;
                    margin: 10px 0;
                }

                .order {
                    width: 90%;

                    .item,
                    .delivery,
                    .tax,
                    .payment-options {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px 0;
                    }

                    .payment-options {
                        img {
                            width: 50px;
                            margin-left: 5px;
                        }
                    }
                }

                .promo {
                    width: 90%;

                    p {
                        font-family: Montserrat;
                    }

                    input[type="text"] {
                        outline: none;
                        border: none;
                        width: 100%;
                        padding: 1rem;
                    }
                }

                .total-price {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 700;
                    width: 100%;
                    font-size: 1.2em;
                }

                .checkout-button {
                    width: 60%;
                    padding: 0.6rem;
                    background-color: #d27c2c;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-family: Montserrat, sans-serif;
                    font-size: 1em;

                    &:hover {
                        background: darken(#d27c2c, 10%);
                    }
                }
            }
        }
    }
}